В файле <i>orders</i> представлена информация о заказах в онлайн-магазине.
```
OrderID - ID Заказа,
UserID - ID клиента,
OrderTime - время заказа,
items - список элементов в заказе, каждый элемент описан словарем:
    ItemID  - ID продукта, 
    price - цена единицы товара, 
    quantity - количество единиц товара в заказе
```
В файле <i>categories</i> представлена информация о категории товаров.
```
ItemID - ID продукта,
Category - категория продукта,
ParentCategory - более крупная категория продукта
```

## Анализ логов продуктового магазина

Представьте, что вы работаете аналитиком онлайн-магазина и ваша цель - повысить GMV (суммарную выручку от продажи товаров). Для этого вы хотите провести ряд исследований и придумать какие-то меры для увеличения выручки.

* Определите, какого числа было сделано больше всего заказов?
* Найдите топ-3 ParentCategory по GMV (суммарная выручка, которую принесла продажа товаров этой категории)
* Напишите функцию, которая принимает на вход OrderID и рекомендует ItemID продукта для корзины этого заказа. Проверьте работу этой функции.

In [3]:
import pandas as pd

In [4]:
# Для скачивания файлов из репозитория в Colab 
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/categories.csv -P data
# !wget https://raw.githubusercontent.com/da-python/new-modul-python/main/Lesson4/hometask/data/orders.json -P data

In [5]:
categories = pd.read_csv('categories.csv')
orders = pd.read_json('orders.json')

In [3]:
categories.head()

    ItemID                 Category  ParentCategory
0  1000002  Сладости для диабетиков        Сладости
1  1000046                     Вода         Напитки
2  1000048  Сладости для диабетиков        Сладости
3  1000049                     Вода         Напитки
4  1000061                   Фрукты  Овощи и фрукты

In [4]:
orders.head()

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"[{'ItemID': '413736', 'price': 36.72, 'quantit...",2021-01-01
1,90622054,2.499293e+18,2021-01-01 04:13:13,"[{'ItemID': '961454', 'price': 179.9, 'quantit...",2021-01-01
2,90659952,3.945866e+17,2021-01-01 05:48:53,"[{'ItemID': '306553', 'price': 101.9, 'quantit...",2021-01-01
3,89765281,5.412765e+18,2021-01-01 08:33:41,"[{'ItemID': '979703', 'price': 99.9, 'quantity...",2021-01-01
4,90582308,6.380061e+18,2021-01-01 09:55:35,"[{'ItemID': '303765', 'price': 44.9, 'quantity...",2021-01-01

In [16]:
orders.groupby(['Date'])['OrderID'].count().sort_values(ascending=False).head(1)

Date
2021-02-05    342
Name: OrderID, dtype: int64

In [15]:
df1 = orders.explode('items')
df1

,OrderID,UserID,OrderTime,items,Date
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '413736', 'price': 36.72, 'quantity...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '523171', 'price': 90.32, 'quantity...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '452831', 'price': 223.11, 'quantit...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '303673', 'price': 59.9, 'quantity'...",2021-01-01
0,90659865,1.609460e+18,2021-01-01 03:51:42,"{'ItemID': '318193', 'price': 319.91, 'quantit...",2021-01-01
...,...,...,...,...,...
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '439036', 'price': 17.5, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '303765', 'price': 6.56000000000000...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '341794', 'price': 69.9, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '307216', 'price': 2.99, 'quantity'...",2021-06-30
40374,93266815,1.620119e+18,2021-06-30 23:58:09,"{'ItemID': '322455', 'price': 9.68, 'quantity'...",2021-06-30

In [16]:
def extract_values(dictionary):
    ItemID = dictionary['ItemID']
    price = dictionary['price']
    quantity = dictionary['quantity']
    return ItemID, price, quantity


df1[['ItemID', 'price', 'quantity']] = df1['items'].apply(lambda x: pd.Series(extract_values(x)))

In [17]:
df1.drop(columns='items')

,OrderID,UserID,OrderTime,Date,ItemID,price,quantity
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,413736,36.72,2
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,523171,90.32,1
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,452831,223.11,1
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,303673,59.90,7
0,90659865,1.609460e+18,2021-01-01 03:51:42,2021-01-01,318193,319.91,2
...,...,...,...,...,...,...,...
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,439036,17.50,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,303765,6.56,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,341794,69.90,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,307216,2.99,1
40374,93266815,1.620119e+18,2021-06-30 23:58:09,2021-06-30,322455,9.68,1

In [18]:
df1[['ItemID']] = df1[['ItemID']].apply(pd.to_numeric)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 852818 entries, 0 to 40374
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   OrderID    852818 non-null  int64
 1   UserID     852818 non-null  float64
 2   OrderTime  852818 non-null  object
 3   items      852818 non-null  object
 4   Date       852818 non-null  datetime64[ns]
 5   ItemID     852818 non-null  int64
 6   price      852818 non-null  float64
 7   quantity   852818 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 58.6+ MB

In [36]:
df2 = df1.merge(categories).groupby(['ParentCategory']).sum(['price']).sort_values(by='price', ascending=False)

In [40]:
df2['price'].head(3)

ParentCategory
Мясо, птица, рыба    25027932.56
Овощи и фрукты       20471893.58
Бакалея              17280428.95
Name: price, dtype: float64

In [41]:
from collections import defaultdict

def recommend_item(order_id, orders):
    # Получаем все ItemID для данного OrderID
    rows = orders.query("OrderID == @order_id")
    order_items = rows['items'].values[0]
    order_item_ids = [item['ItemID'] for item in order_items]
    
    # Получаем все ItemID для всех заказов
    all_items = set()
    for index, row in orders.iterrows():
        items = row['items']
        all_items.update(item['ItemID'] for item in items)
    
    # Рекомендуем ItemID, который еще не был выбран
    missing_item_id = None
    for item_id in all_items:
        if item_id not in order_item_ids:
            missing_item_id = item_id
            break
    
    return missing_item_id

# Пример использования функции
recommended_item = recommend_item(93266815, orders)
print("Рекомендованный ItemID:", recommended_item)

Рекомендованный ItemID: 461361